<div>

</div>
<form class="container" [formGroup] = 'formGroup' (ngSubmit)="authUser()">
    <label>
        <input type="radio" value="client" formControlName="type">
        <span>Cliente</span>
    </label>
    <label>
        <input type="radio" value="provider" formControlName="type">
        <span>Fornecedor</span>
    </label>
    <div *ngIf="formGroup.get('type')?.value !== ''">
        <input type="email" formControlName="name" [placeholder]="formGroup.get('type')?.value == 'client' ? 'Nome' : 'Nome do Fornecedor'"/>
        <input type="email" formControlName="email" placeholder="Email"/>
        <input type="password" formControlName="password" placeholder="Senha"/>
        <button type="submit" id="register" [disabled]="formGroup.invalid">Registrar</button>
    </div>
</form>