<form class="auth-form-register">
  <div class="auth-form-register_type">
    <div>
      <input id="auth-form-register_client" name="register-type" type="radio">
      <label for="auth-form-register_client">Cliente</label>
    </div>
    <div>
      <input id="auth-form-register_supplier" name="register-type" type="radio">
      <label for="auth-form-register_supplier">Fornecedor</label>
    </div>
  </div>
  <input type="text" placeholder="Nome Completo" />
  <input type="text" placeholder="CPF / CNPJ" />
  <input type="email" placeholder="Email" />
  <input type="password" placeholder="Senha" />
  <input type="text" placeholder="CEP" />
  <input type="text" placeholder="Endereço" />
  <input type="text" placeholder="Número" />
  <input type="text" placeholder="Bairro" />
  <input type="text" placeholder="Cidade" />
  <input type="text" placeholder="Estado" />
  <button class="button_primary">Registrar</button>
</form>
