<div class="services-selection">
  <div class="services-selection-box">
    <img src="../../../assets/engine.png" width="150" height="150" />
    <h2>Assistência Técnica</h2>
    <p>Assistências com produtos eletrônicos, eletrodomésticos, ...</p>
  </div>
  <div class="services-selection-box">
    <img src="../../../assets/engine.png" width="150" height="150" />
    <h2>Serviços Domésticos</h2>
    <p>Babá, Diarista, Cozinheira, ...</p>
  </div>
  <div class="services-selection-box">
    <img src="../../../assets/engine.png" width="150" height="150" />
    <h2>Reformas e Reparos</h2>
    <p>Eletricista, Pedreiro, Pintor, ...</p>
  </div>
</div>
